{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}

<div class="container row mx-auto col-12">
    <h1 style="font-size: 1.6rem">Agenda</h1>
    
    <div class="mt-3 row mx-auto col-12">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FParis&src=Ym91dHNhZHlhbGV4YW5kcmVAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=c2dsMHFuazBlcDJvZjNsbGJib2ozdnFnbDR0MGxvNXRAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZG84bGQ2dWx0N2llZGVrM29tZTJsOTM2cnF1N2UwbWdAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZmdycXI4azg4a2djcjFiZGxyZzRydjdzdjNhMWxzZmpAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=dTB0c2Q2ZHVhbW1qNzNnMnBhajE5ZzgwdmJrMWxpaGNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=NGdvbmVsanNhbmUydDJmanFpaGcyOGt2bTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23039BE5&color=%2333B679&color=%23009688&color=%23E67C73&color=%23F6BF26&color=%23F4511E&color=%23F09300&color=%239E69AF" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>


</div>
{% endblock %}
