{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="col-12 col-sm-9 text-center fs-2">Bienvenue sur votre agenda</h1>
</div>

<div class="d-flex justify-content-center pt-3">
    <div class="rounded-4 col-11 col-xl-10 col-xxl-9 bg-white d-flex justify-content-center p-3">
        <iframe class="col-12" src="https://calendar.google.com/calendar/embed?height=280&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FParis&showTitle=0&showTz=1&src=amVzc3kuOTltaWxhcWlAZ21haWwuY29t&src=dTB0c2Q2ZHVhbW1qNzNnMnBhajE5ZzgwdmJrMWxpaGNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%23F09300" style="border-width:0; max-height: 600px; height: 60vh; min-height: 250px;" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
{% endblock %}
