{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <a title="Add to Calendar" class="addeventstc" data-id="OV513711" href="https://www.addevent.com/calendar/OV513711" target="_blank" rel="nofollow">Add to Calendar</a>
	<script type="text/javascript" src="https://cdn.addevent.com/libs/stc/1.0.2/stc.min.js" async defer></script>


</div>
{% endblock %}
