<form method="post" action="{{ path('app_quotation_delete', {'id': quotation.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce devis ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quotation.id) }}">
    <button class="btn">Delete</button>
</form>
