<form action="{{path('app_quotation_discount_add', {'id': id})}}" method="POST">
  <div class="container d-flex p-0">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">€ </span>
      </div>
      <input type="text" name="discount" id="discount" class="form-control">
    </div>
    <button class="btn btn-primary ms-4"><i class="fa fa-add"></i></button>
  </div>
</form>