<form action="{{path('app_quotation_secdepot_add', {'id': id})}}" method="POST">
  <div class="container d-flex">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">€ </span>
      </div>
      <input type="text" name="second_deposit" id="second_deposit" class="form-control">
    </div>
    <button class="btn btn-primary"><i class="fa fa-add"></i></button>
  </div>
</form>