{% extends 'base.html.twig' %}

{% block title %}Modifier le matériau{% endblock %}

{% block body %}
    <h1>Modifier le matériau</h1>

    {{ include('raw_materials/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_raw_materials_index') }}">Retour à la liste des matériaux</a>

    {{ include('raw_materials/_delete_form.html.twig') }}
{% endblock %}
