<form method="post" action="{{ path('app_customers_delete', {'id': customer.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimmer ce client');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash-can"></i></button>
</form>
