{% extends 'base.html.twig' %}

{% block title %}Clients | Modifications{% endblock %}

{% block body %}
    <div class="contain col-12 d-flex justify-content-between">
        <a href="{{ path('app_customers_index') }}" class="btn btn-primary"><i class="fa-solid fa-reply"></i></a>
        {{ include('customers/_delete_form.html.twig') }}
    </div>
    <h1 class="fs-2 text-center pt-5 container col-12 mx-auto">Modifier les informations du client</h1>

    <div class="mb-3 container col-11 col-sm-9 col-xl-6 col-xxl-4 mx-auto">
        {{ include('customers/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    
    
{% endblock %}
