{% extends 'base.html.twig' %}

{% block title %}Clients | Ajouter un nouveau client{% endblock %}

{% block body %}    
    <a href="{{ path('app_customers_index') }}" class="btn btn-primary mb-3"><i class="fa-solid fa-reply"></i></a>
    <h1 class="row mb-3 mt-2 container col-5 mx-auto">Ajouter un nouveau client</h1>
    <div class="row mb-3 container col-5 ps-0 mt-5 mx-auto ">
        {{ include('customers/_form.html.twig') }}
    </div>

{% endblock %}
