{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}    
    <a href="{{ path('app_customers_index') }}" class="btn btn-primary mb-3"><i class="fa-solid fa-reply"></i> Retour</a>
    <h1  class="row mb-3 mt-2 container col-4 mx-auto">Créer nouveau Client</h1>
    <div class="row mb-3 container col-4 ps-0 mt-5 mx-auto ">
        {{ include('customers/_form.html.twig') }}
    </div>

{% endblock %}
