{% extends 'base.html.twig' %}

{% block title %}Editer un dépannage{% endblock %}

{% block body %}
    <h1>Editer un dépannage</h1>
    <div class="row mb-3 container col-4">
        {{ include('repairs/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <a href="{{ path('app_repairs_index') }}">Retour</a>

    {{ include('repairs/_delete_form.html.twig') }}
{% endblock %}
