{% extends 'base.html.twig' %}

{% block title %}New Repairs{% endblock %}

{% block body %}
    <h1>Create new Repairs</h1>

    {{ include('repairs/_form.html.twig') }}

    <a href="{{ path('app_repairs_index') }}">back to list</a>
{% endblock %}
