{% extends 'base.html.twig' %}

{% block title %}Ajouter un dépannage{% endblock %}

{% block body %}
    <h1>Ajouter un dépannage</h1>

    {{ include('repairs/_form.html.twig') }}

    <a href="{{ path('app_repairs_index') }}">Retour</a>
{% endblock %}
