<form method="post" action="{{ path('app_contacts_categories_delete', {'id': contacts_category.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimmer cette catégorie');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contacts_category.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash-can"></i></button>
</form>
