{% extends 'base.html.twig' %}

{% block title %}Contacts | Liste des catégories{% endblock %}

{% block body %}
    <h1>Catégorie de contacts</h1>

    <a href="{{ path('app_contacts_categories_new') }}" class="btn btn-primary float-end mt-2"><i class="fa fa-plus"></i></a>

    <table class="table table-hover" id="table" data-toggle="table" data-search="true" data-locale="fr-FR" data-pagination="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="name">Nom de la catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contacts_category in contacts_categories %}
            <tr style="background-color: white;">
                <td>{{ contacts_category.name|capitalize }}</td>
                <td>
                    <a href="{{ path('app_contacts_categories_show', {'id': contacts_category.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_contacts_categories_edit', {'id': contacts_category.id}) }}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
