{% extends 'base.html.twig' %}

{% block title %}Catégorie des contacts{% endblock %}

{% block body %}
    <h1>Catégorie des contacts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom catégorie</th>
                <td>{{ contacts_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contacts_categories_index') }}" class="btn btn-primary mb-2"><i class="fa-solid fa-reply"></i> Retour</a>

    <a href="{{ path('app_contacts_categories_edit', {'id': contacts_category.id}) }}"class="btn btn-primary mb-2">Modifier</a>

    {{ include('contacts_categories/_delete_form.html.twig') }}
{% endblock %}
