{% extends 'base.html.twig' %}

{% block title %}Editer Categorie dépannage{% endblock %}

{% block body %}
    <h1>Editer Categorie dépannage</h1>

    {{ include('repairs_categories/_form.html.twig', {'button_label': 'modifier'}) }}

    <a href="{{ path('app_repairs_categories_index') }}">retour à la liste</a>

    {{ include('repairs_categories/_delete_form.html.twig') }}
{% endblock %}
