{% extends 'base.html.twig' %}

{% block title %}Edit RepairsCategories{% endblock %}

{% block body %}
    <h1>Edit RepairsCategories</h1>

    {{ include('repairs_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_repairs_categories_index') }}">back to list</a>

    {{ include('repairs_categories/_delete_form.html.twig') }}
{% endblock %}
