{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie dépannage{% endblock %}

{% block body %}
    <a href="{{ path('app_repairs_categories_index') }}" class="btn btn-primary ms-1 mt-1"><i class="fa-solid fa-reply"></i></a>

    <h1 class="row mb-3 mt-2 container col-4 mx-auto">Ajouter une catégorie dépannage</h1>
    <div class="row mb-3 container col-4 ps-0 mt-5 mx-auto ">
        {{ include('repairs_categories/_form.html.twig') }}
    </div>

    
{% endblock %}
