<form method="post" action="{{ path('app_materials_delete', {'id': material.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ material.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash-can"></i></button>
</form>
