{% extends 'base.html.twig' %}

{% block title %}Locations | Matériels{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="col-12 col-sm-9 text-center fs-2">Liste du matériel</h1>
</div>

<a href="{{ path('app_materials_new') }}" class="btn btn-primary float-sm-end mt-2 col-6 col-sm-4 col-md-3 col-lg-2"><i class="fa fa-plus"></i> Ajouter</a>

<table class="table table-hover" id="table" data-toggle="table" data-search="true" data-locale="fr-FR" data-pagination="true">
    <thead>
        <tr>  
            <th data-sortable="true" data-field="material">Matériels</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for material in materials %}
        <tr>
            <td>{{ material.nameMaterial|capitalize }}</td>
            <td>
                <a href="{{ path('app_materials_show', {'id': material.id}) }}" class="btn btn-primary btn-sm"><i class="fa-fw fa fa-eye"></i></a>
                <a href="{{ path('app_materials_edit', {'id': material.id}) }}" class="btn btn-success btn-sm"><i class="fa-fw fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun matériels existant</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
