{% extends 'base.html.twig' %}

{% block title %}Locations | Nouveau matériel{% endblock %}

{% block body %}
    <a href="{{ path('app_materials_index') }}" class="btn btn-primary"><i class="fa-solid fa-reply"></i></a>
    <h1 class="fs-2 text-center pt-5 container col-12 mx-auto">Ajouter un nouveau matériel</h1>
    <div class="mb-3 container col-11 col-sm-9 col-xl-6 col-xxl-4 mx-auto">
        {{ include('materials/_form.html.twig') }}
    </div>
    
    
    
{% endblock %}
