<form method="post" action="{{ path('app_supplier_delete', {'id': supplier.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce fournisseur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supplier.id) }}">
    <button class="btn">Supprimer</button>
</form>
