{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 style="font-size:2rem;">Statistiques <i class="fa fa-chart-simple"></i></h1>
    <div class="container col-12">
        {{ render_chart(chart) }}

    
    </div>
</div>

{% endblock %}

