{% extends 'base.html.twig' %}

{% block title %}Modification de chantier{% endblock %}

{% block body %}
    <h1>Modifier le chantier</h1>

    {{ include('worksites/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_worksites_index') }}">Retour à la liste des chantiers</a>

    {{ include('worksites/_delete_form.html.twig') }}
{% endblock %}
