{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie de chantier</h1>

    {{ include('worksite_categories/_form.html.twig') }}

    <a href="{{ path('app_worksite_categories_index') }}">Retour à la liste des catégories</a>
{% endblock %}
