{% extends 'base.html.twig' %}

{% block title %}Nouveau Locatier{% endblock %}

{% block body %}
    <h1>Créer Nouveau Locatier</h1>

    {{ include('renter/_form.html.twig') }}

    <a href="{{ path('app_renter_index') }}">Retour à la liste</a>
{% endblock %}
