{% extends 'base.html.twig' %}

{% block title %}Edit RawMaterialsCategories{% endblock %}

{% block body %}
    <h1>Modifier la catégorie</h1>

    {{ include('raw_materials_categories/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_raw_materials_categories_index') }}">Retour à la liste</a>

    {{ include('raw_materials_categories/_delete_form.html.twig') }}
{% endblock %}
