{% extends 'base.html.twig' %}

{% block title %}New RawMaterialsCategories{% endblock %}

{% block body %}
    <h1>Create new RawMaterialsCategories</h1>

    {{ include('raw_materials_categories/_form.html.twig') }}

    <a href="{{ path('app_raw_materials_categories_index') }}">Retour à la lsite des catégories</a>
{% endblock %}
