<form method="post" action="{{ path('app_designation_delete', {'id': designation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce désignation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ designation.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-fw fa-trash-can"></i></button>
</form>
