{% extends 'base.html.twig' %}

{% block title %}Devis | Designations{% endblock %}

{% block body %}
    <h1 class="row mb-3 mt-2 container col-5 mx-auto">Créer une désignation</h1>
    <div class="row mb-3 container col-5 ps-0 mt-5 mx-auto ">
        {{ include('designation/_form.html.twig') }}
    </div>

    
{% endblock %}
