{% extends 'base.html.twig' %}

{% block title %}New Designation{% endblock %}

{% block body %}
    <a href="{{ path('app_designation_index') }}" class="btn btn-primary ms-1 mt-1"><i class="fa-solid fa-reply"></i></a>
    <h1 class="row mb-3 mt-2 container col-5 mx-auto">Create new Designation</h1>
    <div class="row mb-3 container col-5 ps-0 mt-5 mx-auto ">
        {{ include('designation/_form.html.twig') }}
    </div>

    
{% endblock %}
