{% extends 'base.html.twig' %}

{% block title %}Modifier l'image{% endblock %}

{% block body %}
    <h1>Modifier l'image</h1>

    {{ include('repairs_images/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_repairs_images_index') }}">retour à la liste</a>

    {{ include('repairs_images/_delete_form.html.twig') }}
{% endblock %}
