{% extends 'base.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}
    <h1>Ajouter une image</h1>

    {{ include('repairs_images/_form.html.twig') }}

    <a href="{{ path('app_repairs_images_index') }}">retour à la liste</a>
{% endblock %}
