{% extends 'base.html.twig' %}

{% block title %}Contacts | Modifier{% endblock %}

{% block body %}
    <div class="contain col-12" style=" display:flex; flex-direction: row; justify-content: space-between;">
        <a href="{{ path('app_contacts_index') }}" class="btn btn-primary ms-1 mt-1"><i class="fa-solid fa-reply"></i></a>

        {{ include('contacts/_delete_form.html.twig') }}
    </div>
    <h1 class="mb-3 mt-2 ps-4 container col-5 mx-auto">Modifier le contact</h1>
    <div class="row mb-3 container col-5 mx-auto">
        {{ include('contacts/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    

{% endblock %}
