{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block body %}
    <a href="{{ path('app_contacts_index') }}" class="btn btn-primary mb-3"><i class="fa-solid fa-reply"></i></a>
    <h1 class="row mb-3 mt-2 container col-5 mx-auto">Créer nouveau Contact</h1>
    <div class="row mb-3 container col-5 ps-0 mt-5 mx-auto ">
        {{ include('contacts/_form.html.twig') }}
    </div>

{% endblock %}
